*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAV BAR */

.toggle {
    font-size: 30px;
    color: #fff;
    float: left;
    line-height: 45px;
    margin-left: 5;
    cursor: pointer;
    display: none;
}

nav {
    background-color: #081118;
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 6;
}

ul {
    float: left;
    margin-left: 5%;
}

.socialtop {
    float: right;
    margin-right: 5%;
}

ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 45px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

ul li:first-child {
    background-color: #FCB06C;
}

ul li:hover {
    background-color: #FCB06C;
    color: white;
}

.top-social {
    padding: 14px 15px;
}

.top-social a {
    padding: 13px;
    color: white;
}

.top-social a:hover {
    color: #FCB06C;
}

@media screen and (max-width: 1052px) {
    .toggle {
        display: block;
    }
    ul {
        position: fixed;
        top: -400px;
        z-index: -1;
        margin-top: -15px;
        right: 0;
        left: 0;
        width: 200px;
        background-color: #222222;
        display: inline-block;
        transition: top .4s;
        margin-left: 0;
    }
    ul.show {
        top: 60px;
    }
    ul li{
        top: 0;
        width: 100%;
        float: left;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    ul {
        width: 100%;
    }
}

/* NAVBAR END */

/* HEADER */

h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

.banner-img {
    background-image: url(./photos/background.jfif);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(5px);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 50px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
    
}

.banner-text p {
    padding: 0 8%;
    font-family: sans-serif;
}

.banner-text a {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
}

/* HEADER END */

/* SECTION 1 */

.secpic1 {
    margin-left: 12%;
    margin-right: 5%;
    max-width: 390px;
    float: left;
    margin-top: 50px;
}

.section1 {
    margin-top: 5%;
    background-color: #FCB06C;
    height: 100%;
    max-width: 100%;
}

.aboutus {
    line-height: 1.7;
    font-weight: 600;
    width: 100%;
    max-width: 100%;
}

.hello {
    font-size: 60px;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
    margin-bottom: -10px;
    padding-top: 20px;
}

#secondus {
    line-height: 1.7;
    margin-top: 2%;
}

#butt1 {
    display: block;
    letter-spacing: 5px;
    font-size: 18px;
    padding: 0;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding-bottom: 3px;
}

#butt1:hover {
    color: white;
}

/* SECTION 1 END */

/* SECTION 2 */

.row {
    display: flex;
    margin-left: 5%;
}

.column {
    padding: 10px 15px;
    justify-content: center;
}

.row img {
    border: 3px solid black;
}

/* SECTION 2 END */

/* BLOG FEAT SEC */

.blog h1 {
    font-family: 'Lora', serif;
    font-size: 40px;
    text-align: center;
    text-transform: lowercase;
}

.blog {
    background-color: #FCB06C;
    height: 85%;
}

.blogcol {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blogcol img {
    width: 70%;
    display: inline-block;
    padding-top: 50px;
    margin-left: 15%;
}

.brightness img:hover {
    -webkit-filter: brightness(1.25);
    cursor: pointer;
}

.intro {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.blogread {
    font-size: 15px;
    margin-left: 38%;
    margin-top: 2%;
    display: block;
    padding: 0;
    border: none;
    background: none;
    text-transform: uppercase;
}

/* BLOG FEAT SEC END */

/* FOOTER */

.column1 {
    display: inline-block;
    margin: 20px 20px;
    text-decoration: none;
    font-size: 12px;
}

.column2 {
    display: inline-block;
    padding: 10px, 10px;
    font-size: 12px;
}
